In [1]:
import sys
!{sys.executable} -m pip install openpyxl numpy pandas

Requirement already satisfied: openpyxl in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (3.0.7)
Requirement already satisfied: numpy in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (1.20.3)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: et-xmlfile in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: You are using pip version 21.1.1; however, version 22.0.4 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.0.16/libexec/bin/python3.9 -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import numpy as np
import openpyxl 
from openpyxl import load_workbook

In [6]:
pm_kisan = pd.read_csv("../data/updated/pm-kisan-pay-data-india-assam.csv")

In [7]:
pm_kisan

,state_name,state_code,dist_name,dist_code,sub_name,sub_code,vill_name,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,amound_paid,no_install_due,amount_due
0,ASSAM,18,BAKSA,616,Barama Pt,5935,Agchia - (304427),304427,40.0,27.0,7.0,6.0,0.0,240.0,480000,291.0,582000
1,ASSAM,18,BAKSA,616,Barama Pt,5935,Alagjhar - (304447),304447,271.0,184.0,74.0,13.0,0.0,1767.0,3534000,2072.0,4144000
2,ASSAM,18,BAKSA,616,Barama Pt,5935,Anandapur - (304423),304423,163.0,125.0,31.0,7.0,0.0,1111.0,2222000,1250.0,2500000
3,ASSAM,18,BAKSA,616,Barama Pt,5935,Badulipara - (304433),304433,235.0,174.0,54.0,7.0,0.0,1606.0,3212000,1805.0,3610000
4,ASSAM,18,BAKSA,616,Barama Pt,5935,Bangalipara - (304428),304428,197.0,142.0,43.0,12.0,0.0,1302.0,2604000,1497.0,2994000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28675,ASSAM,18,WEST KARBI ANGLONG,710,Donka,2088,Doyangmukh - (295516),295516,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE!,NaN,#VALUE!
28676,ASSAM,18,WEST KARBI ANGLONG,710,Donka,2088,Jengkha - (295493),295493,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE!,NaN,#VALUE!
28677,ASSAM,18,WEST KARBI ANGLONG,710,Donka,2088,Kheroni - (295508),295508,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE!,NaN,#VALUE!
28678,ASSAM,18,WEST KARBI ANGLONG,710,Donka,2088,Mailoo Bl No.4 - (295523),295523,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE!,NaN,#VALUE!
28679,ASSAM,18,WEST KARBI ANGLONG,710,Donka,2088,Nawaibil - (295521),295521,NaN,NaN,NaN,NaN,NaN,NaN,#VALUE!,NaN,#VALUE!

In [8]:
pm_kisan['vill_code'].count()

28680

In [9]:
len(pm_kisan[pm_kisan['vill_code'] == ''])

0

In [10]:
pm_kisan['vill_code'].isna().sum()

0

In [13]:
gis_village_block = pd.read_csv("../data/qgis/block-village-contains.csv")

In [14]:
gis_village_block

,state,district,stcode11,dtcode11,blkcode11,block_name,block_lgd,FID,dist_lgd,state_lgd,...,vilcode11,stname,dtname,sdtname,vilname,vilcode_n,t_pop2011,STVIL,LOC_STAT_1,NAME
0,Assam,Udalguri,18,326,211,Sipajhar (part),0,60,617,18,...,305428.0,ASSAM,Udalguri,Pathorighat (Pt),Kotara,305428.0,1008.0,18305428.0,Census Village,Kotara
1,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283267.0,ASSAM,Barpeta,Bajali (Pt),Kashkuri Gaon,283267.0,654.0,18283267.0,Census Village,Kashkuri Gaon
2,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283293.0,ASSAM,Barpeta,Bajali (Pt),Maguri,283293.0,230.0,18283293.0,Census Village,Maguri
3,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283290.0,ASSAM,Barpeta,Bajali (Pt),Panara,283290.0,119.0,18283290.0,Census Village,Panara
4,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283292.0,ASSAM,Barpeta,Bajali (Pt),Ban Gaon,283292.0,1393.0,18283292.0,Census Village,Ban Gaon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12686,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280708.0,ASSAM,Dhubri,Agamoni,Kaimari Pt.V,280708.0,3339.0,18280708.0,Census Village,Kaimari Pt.V
12687,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280718.0,ASSAM,Dhubri,Agamoni,Pokalagi Pt.I,280718.0,1338.0,18280718.0,Census Village,Pokalagi Pt.I
12688,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280705.0,ASSAM,Dhubri,Agamoni,Kaimari Pt.II,280705.0,3124.0,18280705.0,Census Village,Kaimari Pt.II
12689,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280704.0,ASSAM,Dhubri,Agamoni,Kaimari Pt.I,280704.0,3302.0,18280704.0,Census Village,Kaimari Pt.I
12690,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280703.0,ASSAM,Dhubri,Gossaigaon (Pt),Khalisamari,280703.0,681.0,18280703.0,Census Village,Khalisamari

In [15]:
gis_village_block['vilcode11'].count()

12681

In [16]:
len(gis_village_block[gis_village_block['vilcode11'] == ''])

0

In [17]:
gis_village_block['vilcode11'].isna().sum()

10

In [18]:
pm_kisan['vill_code'].isin(gis_village_block['vilcode11']).value_counts()

False    16503
True     12177
Name: vill_code, dtype: int64

In [19]:
gis_village_block['vilcode11'].isin(pm_kisan['vill_code']).value_counts()

True     12610
False       81
Name: vilcode11, dtype: int64

In [20]:
len(gis_village_block.vilcode11.unique())

12248

In [21]:
len(pm_kisan.vill_code.unique())

28680

In [22]:
len(pm_kisan['vill_code'])-len(gis_village_block['vilcode11'].drop_duplicates())

16432

In [23]:
gis_village_duplicates = gis_village_block[gis_village_block.duplicated(['vilcode11'], keep=False)]

In [24]:
gis_village_duplicates

,state,district,stcode11,dtcode11,blkcode11,block_name,block_lgd,FID,dist_lgd,state_lgd,...,vilcode11,stname,dtname,sdtname,vilname,vilcode_n,t_pop2011,STVIL,LOC_STAT_1,NAME
66,Assam,Chirang,18,320,173,Dangtola (part),0,829,612,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Assam,Udalguri,18,326,215,Bechimari (part),6555,1033,617,18,...,304863.0,ASSAM,Udalguri,Dalgaon (Pt),Borigaon,304863.0,1121.0,18304863.0,Census Village,Borigaon
179,Assam,Cachar,18,316,158,Binnakandi,2510,1920,282,18,...,299932.0,ASSAM,Cachar,Sonai,Hatiguri,299932.0,1739.0,18299932.0,Census Village,Hatiguri
180,Assam,Cachar,18,316,158,Binnakandi,2510,1920,282,18,...,299932.0,ASSAM,Cachar,Sonai,Hatiguri,299932.0,1739.0,18299932.0,Census Village,Hatiguri
199,Assam,Cachar,18,316,158,Binnakandi,2510,1920,282,18,...,299916.0,ASSAM,Cachar,Sonai,Binnakandi Pt I,299916.0,2586.0,18299916.0,Census Village,Binnakandi Pt I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12542,Assam,Baksa,18,324,28,Gobardhana (part),0,6395,616,18,...,304154.0,ASSAM,Baksa,Barnagar (Pt),Bongshibari Pathar,304154.0,293.0,18304154.0,Census Village,Bongshibari Pathar
12543,Assam,Baksa,18,324,28,Gobardhana (part),0,6395,616,18,...,304154.0,ASSAM,Baksa,Barnagar (Pt),Bongshibari Pathar,304154.0,293.0,18304154.0,Census Village,Bongshibari Pathar
12583,Assam,Baksa,18,324,181,Rangia (part),0,6397,616,18,...,304417.0,ASSAM,Baksa,Bijni (Pt),Chirakhundi,304417.0,3402.0,18304417.0,Census Village,Chirakhundi
12587,Assam,Bongaigaon,18,319,178,Sidli-chirang Pt. (part),0,6398,281,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12595,Assam,Baksa,18,324,180,Bihdia-jajikona (part),0,6400,616,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
gis_village_duplicates.to_csv("../results/gis_village_duplicates.csv")

In [26]:
gis_village_no_duplicates = gis_village_block.drop_duplicates(subset=['vilcode11']) #(keep=False, inplace=True)

In [27]:
gis_village_no_duplicates

,state,district,stcode11,dtcode11,blkcode11,block_name,block_lgd,FID,dist_lgd,state_lgd,...,vilcode11,stname,dtname,sdtname,vilname,vilcode_n,t_pop2011,STVIL,LOC_STAT_1,NAME
0,Assam,Udalguri,18,326,211,Sipajhar (part),0,60,617,18,...,305428.0,ASSAM,Udalguri,Pathorighat (Pt),Kotara,305428.0,1008.0,18305428.0,Census Village,Kotara
1,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283267.0,ASSAM,Barpeta,Bajali (Pt),Kashkuri Gaon,283267.0,654.0,18283267.0,Census Village,Kashkuri Gaon
2,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283293.0,ASSAM,Barpeta,Bajali (Pt),Maguri,283293.0,230.0,18283293.0,Census Village,Maguri
3,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283290.0,ASSAM,Barpeta,Bajali (Pt),Panara,283290.0,119.0,18283290.0,Census Village,Panara
4,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283292.0,ASSAM,Barpeta,Bajali (Pt),Ban Gaon,283292.0,1393.0,18283292.0,Census Village,Ban Gaon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12686,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280708.0,ASSAM,Dhubri,Agamoni,Kaimari Pt.V,280708.0,3339.0,18280708.0,Census Village,Kaimari Pt.V
12687,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280718.0,ASSAM,Dhubri,Agamoni,Pokalagi Pt.I,280718.0,1338.0,18280718.0,Census Village,Pokalagi Pt.I
12688,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280705.0,ASSAM,Dhubri,Agamoni,Kaimari Pt.II,280705.0,3124.0,18280705.0,Census Village,Kaimari Pt.II
12689,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280704.0,ASSAM,Dhubri,Agamoni,Kaimari Pt.I,280704.0,3302.0,18280704.0,Census Village,Kaimari Pt.I
12690,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280703.0,ASSAM,Dhubri,Gossaigaon (Pt),Khalisamari,280703.0,681.0,18280703.0,Census Village,Khalisamari

In [28]:
gis_village_no_duplicates.to_csv("../results/gis_village_no_duplicates.csv")

In [29]:
gis_village_no_duplicates['vilcode11'].isin(pm_kisan['vill_code']).value_counts()

True     12177
False       71
Name: vilcode11, dtype: int64

In [30]:
PM_Kisan_merged = gis_village_no_duplicates.merge(pm_kisan, left_on='vilcode11', right_on='vill_code', suffixes=(False, False))

In [31]:
PM_Kisan_merged

,state,district,stcode11,dtcode11,blkcode11,block_name,block_lgd,FID,dist_lgd,state_lgd,...,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,amound_paid,no_install_due,amount_due
0,Assam,Udalguri,18,326,211,Sipajhar (part),0,60,617,18,...,305428,3.0,3.0,0.0,0.0,0.0,24.0,48000,24.0,48000
1,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283267,108.0,1.0,99.0,8.0,0.0,214.0,428000,850.0,1700000
2,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283293,50.0,0.0,41.0,9.0,0.0,76.0,152000,377.0,754000
3,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283290,155.0,0.0,18.0,137.0,0.0,34.0,68000,970.0,1940000
4,Assam,Barpeta,18,303,38,Bajali,2489,347,280,18,...,283292,813.0,10.0,322.0,481.0,0.0,695.0,1390000,5552.0,11104000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12172,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280708,131.0,0.0,116.0,15.0,0.0,188.0,376000,959.0,1918000
12173,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280718,115.0,0.0,95.0,20.0,0.0,198.0,396000,844.0,1688000
12174,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280705,145.0,0.0,120.0,25.0,0.0,226.0,452000,1071.0,2142000
12175,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280704,378.0,0.0,338.0,40.0,0.0,730.0,1460000,2853.0,5706000
12176,Assam,Dhubri,18,301,12,Agamoni,2549,6414,285,18,...,280703,21.0,0.0,20.0,1.0,0.0,53.0,106000,162.0,324000

In [32]:
len(PM_Kisan_merged.vill_code.unique())

12177

In [35]:
PM_Kisan_merged.to_csv("../results/pm_kisan_merged.csv")

In [40]:
block_wise_pm_kisan = PM_Kisan_merged.groupby(['block_name','blkcode11']).sum(['amount_due'])

In [41]:
block_wise_pm_kisan

,,stcode11,dtcode11,block_lgd,FID,dist_lgd,state_lgd,st_area_sh,st_length_,objectid,stcode11_2,...,dist_code,sub_code,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due
block_name,blkcode11,,,,,,,,,,,,,,,,,,,,,
Agamoni,12,1080,18060,152940,384840,17100,1080,1.818530e+10,8.757870e+06,24960948.0,1080.0,...,17109,124370,16843802,9017.0,15.0,8140.0,862.0,0.0,16629.0,67394.0
Algapur,168,1026,18126,147402,152304,16473,1026,1.085501e+10,4.584657e+06,18472973.0,1026.0,...,16466,120033,17151744,13208.0,11040.0,2085.0,83.0,0.0,92004.0,98116.0
Amguri,108,288,4976,43088,44352,4800,288,2.053740e+09,1.064313e+06,7493003.0,288.0,...,4800,33152,4684918,856.0,800.0,55.0,1.0,0.0,6351.0,6528.0
Amri,130,1278,53889,185736,190919,50410,1278,1.190599e+11,1.959629e+07,28624310.0,1278.0,...,49997,148197,20975488,4971.0,152.0,2797.0,2022.0,0.0,5549.0,34559.0
Badarpur,163,630,11095,91945,94920,10255,630,5.735531e+09,2.419169e+06,11410441.0,630.0,...,10240,73571,10506400,5290.0,3880.0,1388.0,22.0,0.0,33473.0,37782.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Titabar,121,2052,35568,296058,306204,33060,2052,5.120887e+10,2.044002e+07,51719321.0,2052.0,...,33060,237120,33516706,12696.0,11270.0,1390.0,36.0,0.0,91311.0,95659.0
Udalguri,218,2862,51834,1041132,1000428,98103,2862,1.355325e+11,2.938219e+07,72493219.0,2862.0,...,97435,354922,48617192,18676.0,16119.0,1968.0,589.0,0.0,125405.0,137065.0
Udali,61,450,18925,66875,68625,17725,450,6.125957e+09,1.997667e+06,10227722.0,450.0,...,17725,50950,7133527,1978.0,1887.0,87.0,4.0,0.0,14953.0,15254.0
Udarbond,151,1476,25912,206804,213938,23124,1476,4.313725e+10,1.192980e+07,27511606.0,1476.0,...,23158,172025,24551819,3185.0,1.0,3179.0,5.0,0.0,18276.0,24009.0
Ujani Majuli,115,1368,57760,197448,204516,53656,1368,4.639938e+10,1.208736e+07,36170541.0,1368.0,...,52829,157756,22300280,10162.0,9525.0,633.0,4.0,0.0,76838.0,78783.0

In [42]:
block_wise_pm_kisan .to_csv("../results/block_wise_pm_kisan.csv")